.content-left .description {
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    box-shadow: 1px 1px 5px #666;
    padding: 20px 15px;
}

.content-left .description .about-title {
    font-size: 18px;
    font-weight: 800;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #b9b9b9;
}

.content-left .description p{
    font-size: 14px;
}

.content-left .description .about-introduce {
    padding: 8px 0;
}

.content-left .blog-commonts .msg {
    display: inline-block;
    padding: 20px 0px 8px;
}

.content-left .blog-commonts .blog-commont {
    width: 100%;
    padding: 10px 15px;
    background-color: #d9edf7;
    border: 1px dashed #7ca4c1;
}

.content-left .blog-commonts .blog-commont p{
    padding: 5px 0;
    color: #31708f;
    font-size: 14px;
}

.content-left .blog-commonts .blog-commont .commont-about .name {
    font-size: 16px;
    font-weight: 700;
}
.content-left .blog-commonts .blog-commont .commont-about .button {
    cursor: pointer;
}