.content .content-left .every-day{
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    box-shadow: 1px 1px 5px #666;
    padding: 10px 15px;
}

.content .content-left .every-day .title,
.content .content-left .every-day .ctime{
    font-size: 12px;
    font-weight: bold;
}

.content .content-left .every-day p{
    font-size: 14px;
    margin-top: 5px;
}

.content .content-left .article-list .article{
    background-color: white;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}

.content .content-left .article-list .article .article-top{
    padding: 10px 15px;
}

.content .content-left .article-list .article .article-title{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    margin: 10px 0px;
}

.content .content-left .article-list .article .article-title:hover{
    color: #337ab7;
}

.content .content-left .article-list .article .article-content{
    color: #000;
    font-size: 14px;
    margin: 0 0 10px 0;
}

.content .content-left .article-list .article .article-footer{
    color: #fff;
    background-color: #080808;
    border-radius: 0 0 5px 5px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}
.content .content-left .article-list .article .article-footer a{
    color: #fff;
}



