<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人博客</title>
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/blog_detail.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./assets/js/axios.js"></script>
</head>

<body>
    <header id="header">
        <div id="nav">
            <div class="nav-left">
                <div class="nav-log">
                    <a href="/" class="log">yimax个人博客 | 技术博客</a>
                </div>
                <ul>
                    <li class="active">
                        <a href="/">首页</a>
                    </li>
                    <li>
                        <a href="/sitemap.html">地图</a>
                    </li>
                    <li>
                        <a href="/about.html">关于</a>
                    </li>
                    <li>
                        <a href="/guestbook.html">留言</a>
                    </li>
                </ul>
            </div>
            <div class="nav-right">
                <input type="text" placeholder="输入标签查找" v-model="inpT">
                <button id="sou" @click="handleClick">搜索</button>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="content-left">
            <div id="blog-detail" class="blog">
                <div class="blog-title">{{title}}</div>
                <div class="blog-msg">
                    作者:yimax 标签:{{tags}} 发布于:{{ctime}} 浏览:{{views}}
                </div>
                <div class="blog-content" v-html="content"></div>
            </div>
            <div id="comments">
                <div class="blog-commonts" id="blog-comments">
                    <span class="msg">评论: 目前共有{{ total }}条评论</span>
                    <div class="blog-commont" v-for="item in commentMsg">
                        <p class="commont-about">
                            <span class="name">{{ item.name }}</span>
                            <span> {{ item.isReply}}: </span>
                            <span class="ctime">发表于 {{ item.ctime }}</span>
                            <span class="button"><a href="#send-comment" @click="reply(item.name)">[回复]</a></span>
                        </p>
                        <p class="commont-msg">
                            {{ item.comments }}
                        </p>
                    </div>
                </div>
                <div class="send-comments" id="send-comment">
                    <span>发表评论</span>
                    <div :class="{reply: true, show: flag}" @click="cancelReply()">点击此处取消回复</div>
                    <div>
                        <input type="text" placeholder="昵称" id="comment-name" v-model="commentName">
                        <input type="text" placeholder="邮箱(评论被回复时您会收到通知)" id="comment-email" v-model="commentEmail">
                    </div>
                    <div>
                        <textarea id="comment-content" rows="3" placeholder="无意义的内容我可能不会回复你"
                            v-model="commentContent"></textarea>
                    </div>
                    <div style="position: relative;">
                        <input type="text" placeholder="验证码" id="comment-code" v-model="commentCode">
                        <span v-html="vcode" @click="changeCode()" class="code"></span>
                    </div>
                    <button @click="subComment()">提交评论</button>
                </div>
            </div>
        </div>
        <div class="content-right">
            <div class="right-module" id="random-tags">
                <div class="title">随机标签云</div>
                <div class="tag-link">
                    <a v-for="item in tags"
                       :href="item.link"
                       :style="{color: randomColor(), fontSize: randomSize()}"
                    >
                       {{ item.tag }}
                    </a>
                </div>
            </div>
            <div class="right-module" id="new-hot">
                <div class="title">最近热门</div>
                <ul class="hot-ul">
                    <li v-for='item in titleList'>
                        <a :href="item.link">{{ item.title }}</a>
                    </li>
                </ul>
            </div>
            <div class="right-module" id="new-comment">
                <div class="title">最新评论</div>
                <ul class="comment-ul">
                    <li v-for="item in commentList">
                        <div>
                            <span class="comment-author">{{ item.author }}</span>
                            <span class="comment-time">{{ item.time }}</span>
                        </div>
                        <p><a :href="item.link">{{ item.comment }}</a></p>
                    </li>
                </ul>
            </div>
            <div class="right-module">
                <div class="title">友情链接</div>
                <div class="link">
                    <span><a href="#">个人博客</a></span><span><a href="#">个人博客</a></span>
                    <span><a href="#">个人博客</a></span><span><a href="#">个人博客</a></span>
                    <span><a href="#">个人博客</a></span><span><a href="#">个人博客</a></span>
                    <span><a href="#">个人博客</a></span><span><a href="#">个人博客</a></span>
                    <span><a href="#">个人博客</a></span><span><a href="#">个人博客</a></span>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <ul>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">JavaScript</a></li>
        </ul>
        <p>Copyright © 2010-2019 个人博客 All rights reserved. 由免费开源的WordPress强力驱动. 鲁ICP备14017955号站长统计</p>
    </footer>
    <script src="./assets/js/blog_detail.js"></script>
    <script src="./assets/js/base.js"></script>
</body>

</html>